configuration: CI

version: 1.7.15.{build}

os: Visual Studio 2015

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}"

before_build:
 - nuget restore

build:
  verbosity: minimal
  project: language-ext.sln