<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 2021-04-27 DWR: Required for Analysers Tests (see https://stackoverflow.com/a/66080131/3813189) -->
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>
</configuration>