.process-log-row
{
	font-family: Calibri, Droid Sans, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
    font-size:10pt;
    border-left:8px solid white;
    background-color:white;
    box-shadow: 2px 2px 2px #aaa;
    padding:4px;
}

.process-log-rowInfo
{
    border-color: #c1eaaf;
}

.process-log-rowWarn
{
    border-color: #ffea99;
}

.process-log-rowError
{
    border-color:#e29191;
}
.process-log-rowDebug
{
    border-color:#a1bacc;
}


.process-item
{
    width:400px;
    margin:5px;
    margin-top:10px;
    margin-bottom:0px;
    padding:15px;
    display:inline-block;
    background-color:#f0f0f0;
    vertical-align:top;
    min-height:15px;
    border-radius:5px;
    box-shadow: 5px 5px 5px #aaa;
}

.process input
{
    margin-right:4px;
    margin-bottom:4px;
}

.process-log-row .log-time
{
    display:inline-block;
    width:75px;
    padding:2px;
}
.process-log-row .log-type
{
    display:inline-block;
    width:40px;
    padding:2px;
}
.process-log-row .log-msg
{
    display:inline-block;
    width:auto;
    padding:2px;
}
.process-log-row .log-ex-msg
{
    display:inline-block;
    padding:2px;
}
.process-log-row .log-ex-stack
{
    display:inline-block;
    padding:2px;
}