body {
    font-family: Calibri, Droid Sans, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
    font-size:10pt;
}

.chat-row {
    border-left:8px solid white;
    background-color:white;
    box-shadow: 2px 2px 2px #aaa;
    padding:4px;
}

#chat-ui {
    display:none;
}

#chat-view {
    border:solid 20px #ed8787;
    border-bottom:none;
    padding:20px;
    height:400px;
    margin:20px;
    margin-bottom:0px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    overflow:auto;
}

#chat-enter {
    border:solid 20px #ed8787;
    padding:20px;
    margin:20px;
    margin-top:0px;
    height:100px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

#chat-box {
    width:97%;
    height:80px;
    padding:10px;
    font-family: Calibri, Droid Sans, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
    font-size:12pt;
}

#ask-name {
    border:solid 120px #ed8787;
    padding:20px;
    margin:20px;
    height:200px;
    text-align:center;
    border-radius:20px;
}

input {
    padding:10px;
    font-family: Calibri, Droid Sans, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
    font-size:12pt;
    margin:5px;
}

#prompt {
    font-size:14pt;
    padding:5px;
}