<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="/scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
    <script src="/scripts/process.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <link href="../style.css" type="text/css" rel="stylesheet" />
    <link href="chat.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <div id="chat-ui">
        <div id="chat-view">
        </div>

        <div id="chat-enter">
            <textarea id="chat-box"></textarea>
        </div>
    </div>

    <div id="ask-name">
        <div id="prompt">Enter your name</div>
        <input id="name-input" type="text"/>
        <input id="start" type="button" value="Start chatting..."/>
    </div>

    <script type="text/javascript">

        var name = "";
        var server = "/root/user/chat";

        $("#start").click(function () {

            name = $("#name-input").val();

            if (name == "") {
                $('#prompt').html("Come on now, you must have a name?");
                return;
            }

            $("#chat-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    Process.tell(server, name + ": " + $(this).val());
                    $(this).val("");
                    return;
                }
            });

            var fmt = function (text) {
                return "<div class='chat-row'>" + text + "</div>";
            }

            Process.connect().done(function () {

                var chat = Process.spawn("client",
                    function() {
                        Process.subscribe(server);
                        return unit;
                    },
                    function (_, msg) {
                        $("#chat-view").prepend(fmt(msg));
                    });

                Process.tell(server, name + " has entered the chat room");
            });

            $("#chat-ui").show("fast");
            $("#ask-name").hide("fast");
            $("chat-enter").focus();
        });

    </script>
</body>
</html>
