<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notes from a Small Functional Island</title>
</head>
<body>
  <div style="background-color: rgb(255, 255, 255); font-family: sans-serif">
    <div>
      <div style="text-align: center;">
        <h3>Notes from a Small Functional Island by Paul Louth</h3>
        <h2>[POST_TITLE]</h2>
        <div>
          <p>
            By Paul Louth
            <span>[POST_DATE]</span>
          </p>
        </div>
      </div>
      <div style="text-align: center;">
        <a href="[POST_URL]"><img alt="Feature" src="[FEATURE_IMAGE_URL]" style="width: 400px"></a>
      </div>
      <div>
        <div style="margin:20px; border: solid 10px darkred; border-radius: 5px; text-align: center;">
          <p>
            <b>A short message from Paul</b>
          </p>
          <p>
            I thought it would be novel to include the full article as the email newsletter.
            I don't really care about clicks or any of that nonsense and so this is another
            potential way to consume the article (that may even be more accessible for some)!
          </p>
          <p>
            However, due to the way that email clients format and butcher HTML, the experience might not be as good. I have noticed that, on my iPhone, the code snippets get line-wrapped, making them pretty hard to decipher.  Still, I like the idea that if you've downloaded emails to your device, you can read the article offline, so I'm going to go with it for now. Feel free to let me know what you think.
          </p>
          <p>
            <a href="[POST_URL]"><span>But it is better to read the original article on paullouth.com</span></a>
          </p>
          <p>
            The formatting is much better there!
          </p>
        </div>
      </div>
      <div>
        [POST_CONTENT]
      </div>
      <div>
        <h3>Keep reading</h3>
        <div>
          [RECENT_ARTICLES]
        </div>
      </div>
      <div>
        <div style="color:#777; text-align: center; margin-top: 30px;">
          <p>Paul Louth © [YEAR_RANGE]</p>
          <p>
            <span>You're receiving this email because you signed up to the newsletter at <a href="https://paullouth.com">paullouth.com</a>.</span>
            <span>You can unsubscribe by going to the site, logging in, and toggling the 'Email Newsletter' option.</span>
            <span>Any problems or if you need to reach out for any reason, drop me an email to: paul@paullouth.com</span>
          </p>
        </div>
      </div>
    </div>
  </div>  
</body>
</html>