      <div style="border:solid 1px gray; margin: 2px; border-radius: 4px;">
        <div style="display: flex; flex-direction: row">
          <div style="padding: 10px; flex-grow: 1">
            <div><a href="[URL]"><h4>[TITLE]</h4></a></div>
            <div>[EXCERPT]</div>
          </div>  
          <div style="padding: 10px; width:170px; vertical-align: middle; background-color: #eee;">
            <a href="[URL]">
              <img alt="[TITLE]" src="[IMAGE_URL]" style="width:170px">
            </a>
          </div>  
        </div>  
      </div>
